@{
    ViewData["Title"] = "Documentacao";
}
<h1>@ViewData["Title"]</h1>

<h1>Projeto de controle elevador em C# no padrão MVC.</h1>
<h2>Curso: [FORMAÇÃO MS-DEV] Samsung OCEAN/Microsoft</h2>
<h2>Ministrado pelo Prof. Lucas Aragão Feliciano</h2>
<p>
    <b>Sejam bem-vindos ao Edifício FuturoTech!</b>
</p>
<p>
    Nosso elevador atende do térreo até o 6º andar e tem capacidade para até 5
    pessoas. No menu você pode escolher as seguintes opções:
</p>
<p>
    - INICIALIZAR: depois de serviços de manutenção podemos reinicializar
    nosso elevador, que virá para o térreo sempre sem qualquer ocupante por
    medidas de segurança.
</p>
<p>
    - ENTRAR: você informa quantos ocupantes irão entrar, sendo limitado a 5
    pessoas e, caso digite 0 por engano, sistema voltará ao menu inicial.
    Função não acionará se elevador já estiver lotado.
</p>
<p>
    - SUBIR: nessa opção você irá informar para qual andar quer subir, sendo o
    6º andar o último. Caso informe um número onde já está, poderá informar
    novo andar para subir e, caso informe número inferior, sistema voltará ao
    menu inicial para poder escolher opção Descer. Se já estiver no 6º andar,
    função não será aceita e voltará ao menu inicial.
</p>
<p>
    - DESCER: você irá informar para qual andar deseja descer, lembrando que
    não temos sub-solo, portanto se informar 0, função não será aceita e
    voltará ao menu inicial. Caso informe um número onde já está, poderá
    informar novo andar para descer e, caso informe número superior, sistema
    voltará ao menu inicial para poder escolher opção Subir.
</p>
<p>
    - SAIR: nesta opção você informa quantos ocupantes sairão do elevador. Se
    por engano digitar número maior que ocupantes, poderá informar nova
    quantidade. Mas, caso digite 0 por engano, sistema voltará ao menu
    inicial. Função não acionará se elevador já estiver vazio.
</p>
<p>
    - MANUTENÇÃO: com esta opção elevador voltará ao térreo e todos deverão
    sair, sendo programa desligado em seguida.
</p>
<p>
    <b
    >Agradecemos atenção e dúvidas/sugestões podem ser reportadas a
    rodten23@gmail.com</b
    >
</p>
 
